# 3강. Pandas 시작하기

## 이론

### Prerequisite: Table
> 행과 열을 이용해서 데이터를 저장하고 관리하는 자료구조

- 주로 행은 개체, 열은 속성을 나타냄.

### I. Pandas 시작하기
- `import pandas`를 통해서 진행

In [1]:
import pandas as pd

### II. Pandas로 1차원 데이터 다루기 - Series

#### Series
> 1-D labeled array

- 인덱스를 지정해줄 수 있음

In [3]:
s = pd.Series([1, 4, 9, 16, 25])

s

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [5]:
t = pd.Series({'one': 1, 'two': 2, 'three':3})

t

one      1
two      2
three    3
dtype: int64

#### Series + Numpy
- Series는 ndarray와 유사.

In [6]:
s[1]

4

In [7]:
t[1]

2

In [8]:
t[1:3]

two      2
three    3
dtype: int64

In [9]:
# 자기 자신의 median(중앙값)보다 큰 값들만 가지고 와라
s[s > s.median()]

3    16
4    25
dtype: int64

In [10]:
s[[3, 1, 4]]

3    16
1     4
4    25
dtype: int64

In [11]:
import numpy as np

np.exp(s)

0    2.718282e+00
1    5.459815e+01
2    8.103084e+03
3    8.886111e+06
4    7.200490e+10
dtype: float64

In [13]:
s.dtype

dtype('int64')

#### Series + dict
- Series는 dict와 유사하다

In [14]:
t

one      1
two      2
three    3
dtype: int64

In [15]:
t['one']

1

In [16]:
# Series에 dict처럼 값 추가
t['six'] = 6

t

one      1
two      2
three    3
six      6
dtype: int64

In [17]:
'six' in t

True

In [19]:
'seven' in t

False

In [21]:
# t['seven']
# 에러

In [22]:
t.get('seven')

In [23]:
t.get('seven', 0)

0

### Series에 이름 붙이기
- `name`속성을 가지고 있다.
- 처음 Series를 만들 때, 이름을 붙일 수 있음.

In [24]:
s = pd.Series(np.random.randn(5), name='random_nums')

s

0    0.624508
1   -0.721550
2    0.175737
3   -0.557516
4   -0.185005
Name: random_nums, dtype: float64

In [25]:
s.name = '임의의 난수'

In [27]:
s

0    0.624508
1   -0.721550
2    0.175737
3   -0.557516
4   -0.185005
Name: 임의의 난수, dtype: float64