In [1]:
import numpy as np
import pandas as pd

In [155]:
df = pd.read_csv("../kaggle_COVID-19_Dataset/country_wise_latest.csv")

df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [156]:
tmp = df.copy()

In [168]:
s1 = tmp.groupby(by='WHO Region', as_index=False)

In [169]:
s1.min()

,WHO Region,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase
0,Africa,Algeria,10,0,0,1,0,0,0,0.00,0.00,0.00,10,0,0.00
1,Americas,Antigua and Barbuda,17,0,0,0,0,0,0,0.00,0.00,0.00,17,0,0.00
2,Eastern Mediterranean,Afghanistan,674,11,0,24,3,0,0,0.15,0.00,0.16,522,-47,-3.84
3,Europe,Albania,12,0,0,0,0,0,0,0.00,0.00,0.00,12,0,0.00
4,South-East Asia,Bangladesh,24,0,0,13,0,0,0,0.00,0.00,0.00,24,0,0.00
5,Western Pacific,Australia,20,0,11,0,0,0,0,0.00,17.74,0.00,19,0,0.00

In [166]:
s1.max()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase
WHO Region,,,,,,,,,,,,,,
Africa,Zimbabwe,452529,7067,274925,170537,7096,298,9848,10.00,96.51,inf,373628,78901,191.07
Americas,Venezuela,4290259,148011,1846641,2816444,56336,1076,33728,11.13,100.00,inf,3834677,455582,119.54
Eastern Mediterranean,Yemen,293606,15912,255144,52992,2553,212,3592,28.56,98.38,inf,276202,17892,42.78
Europe,Uzbekistan,816680,45844,602249,254427,5607,85,3077,15.19,100.00,inf,776212,40468,32.22
South-East Asia,Timor-Leste,1480073,33408,951166,495499,44457,637,33598,4.82,94.36,8.32,1155338,324735,28.11
Western Pacific,Vietnam,86783,4656,78869,53649,1592,13,364,5.37,97.87,7.35,85622,13142,226.32

In [173]:
s2 = tmp.groupby(['WHO Region', 'Country/Region'], as_index=False).agg([max, min])

In [174]:
s2

                               Confirmed        Deaths       Recovered         \
                                     max    min    max   min       max    min
WHO Region      Country/Region
Africa          Algeria            27973  27973   1163  1163     18837  18837
                Angola               950    950     41    41       242    242
                Benin               1770   1770     35    35      1036   1036
                Botswana             739    739      2     2        63     63
                Burkina Faso        1100   1100     53    53       926    926
...                                  ...    ...    ...   ...       ...    ...
Western Pacific Philippines        82040  82040   1945  1945     26446  26446
                Singapore          50838  50838     27    27     45692  45692
                South Korea        14203  14203    300   300     13007  13007
                Taiwan*              462    462      7     7       440    440
                Vietnam              431    431      0     0       365    365

                               Active        New cases        ...  \
                                  max    min       max   min  ...
WHO Region      Country/Region                                ...
Africa          Algeria          7973   7973       616   616  ...
                Angola            667    667        18    18  ...
                Benin             699    699         0     0  ...
                Botswana          674    674        53    53  ...
                Burkina Faso      121    121        14    14  ...
...                               ...    ...       ...   ...  ...
Western Pacific Philippines     53649  53649      1592  1592  ...
                Singapore        5119   5119       469   469  ...
                South Korea       896    896        28    28  ...
                Taiwan*            15     15         4     4  ...
                Vietnam            66     66        11    11  ...

                               Recovered / 100 Cases         \
                                                 max    min
WHO Region      Country/Region
Africa          Algeria                        67.34  67.34
                Angola                         25.47  25.47
                Benin                          58.53  58.53
                Botswana                        8.53   8.53
                Burkina Faso                   84.18  84.18
...                                              ...    ...
Western Pacific Philippines                    32.24  32.24
                Singapore                      89.88  89.88
                South Korea                    91.58  91.58
                Taiwan*                        95.24  95.24
                Vietnam                        84.69  84.69

                               Deaths / 100 Recovered         \
                                                  max    min
WHO Region      Country/Region
Africa          Algeria                          6.17   6.17
                Angola                          16.94  16.94
                Benin                            3.38   3.38
                Botswana                         3.17   3.17
                Burkina Faso                     5.72   5.72
...                                               ...    ...
Western Pacific Philippines                      7.35   7.35
                Singapore                        0.06   0.06
                South Korea                      2.31   2.31
                Taiwan*                          1.59   1.59
                Vietnam                          0.00   0.00

                               Confirmed last week        1 week change  \
                                               max    min           max
WHO Region      Country/Region
Africa          Algeria                      23691  23691          4282
                Angola                         749    749           201
                Benin                         1602   1602           168
                Botswana                       522    522           217
                Burkina Faso                  1065   1065            35
...                                            ...    ...           ...
Western Pacific Philippines                  68898  68898         13142
                Singapore                    48035  48035          2803
                South Korea                  13816  13816           387
                Taiwan*                        451    451            11
                Vietnam                        384    384            47

                                      1 week % increase
                                  min               max    min
WHO Region      Country/Region
Africa          Algeria          4282             18.07  18.07
                Angola            201             26.84  26.84
                Benin             168             10.49  10.49
                Botswana          217             41.57  41.57
                Burkina Faso       35              3.29   3.29
...                               ...               ...    ...
Western Pacific Philippines     13142             19.07  19.07
                Singapore        2803              5.84   5.84
                South Korea       387              2.80   2.80
                Taiwan*            11              2.44   2.44
                Vietnam            47             12.24  12.24

[187 rows x 26 columns]